{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="pageLeft bar">
          <div class="carouselWrapper">
            <div class="carouselHeader">
              <div class="headerName">Фильмы</div>
              <select class="filters type">
                <option value="" selected disabled>Фильтр</option>
                <option value="all">Все</option>
                <option value="popular">Популярные</option>
                <option value="new">Новое</option>
              </select>
              <select class="filters genre">
                <option value="" selected disabled>Выберите жанр</option>
                <option value="all">Все</option>
                <option value="drama">Драма</option>
                <option value="comedy">Комедия</option>
                <option value="action">Боевик</option>
                <option value="detective">Детектив</option>
              </select>
              <select class="filters country">
                <option value="" selected disabled>Страна</option>
                <option value="all">Все</option>
                <option value="russia">Россия</option>
                <option value="usa">США</option>
                <option value="europe">Европа</option>
                <option value="korean">Корея</option>
              </select>
              <div class="clear"></div>
            </div>
                <div class="items">
                    {% for movie in movies %}
                        <div class="carouselItem">
                            <div class="itemWrapper">
                                <div class="normal">
                                    <a href='{% url 'movie-detail' movie.id %}' class="itemImage">
                                        <img src="{{ movie.movie_pic.url }}">
                                    </a>
                                </div>
                                <div class="darker">
                                    <a href={% url 'movie-detail' movie.id %} class="itemName">
                                        {{ movie.movie_name }}
                                    </a>
                                  <div data-rating="1.5" class="itemRating">
                                  <div class="star"></div>
                                  </div>
                                  <div class="itemAbout">
                                    <div class="itemInfo country">Страна: {{ movie.country }}</div>
                                    <div class="itemInfo year">Год выпуска: {{ movie.release_date.year }}</div>
                                    <div class="itemInfo genre">Жанр: {{ movie.get_genre_display }}</div>
                                  </div>
                                </div>
                            </div>
                              <!--.itemKeys
                              .itemKey.favovrite favorite
                              .itemKey.watched watched
                              .clear
                              -->
                            <div class="itemKeys">
                                <div class="itemKey like">+ 300</div>
                                <div class="itemKey dislike">- 80</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
          </div>
    </div>
    <div class="pageRight bar">
          <div class="notice">
            <div class="noticeHeader">Уведомления</div>
            <div class="noticeText">
              <div class="noticeName">Проекту требуются волонтеры.</div>
              <div class="noticeInfo">Заинтересованные могут отправить сообщение в<a href="{% url 'contact-us' %}">Форме Обратной связи</a></div>
            </div>
            <div class="noticeText">
              <div class="noticeName">Стол заказов</div>
              <div class="noticeInfo">Смотрите то, что интересно Вам:
                <form>
                  <select required>
                    <option>Выберите раздел</option>
                    <option>Сериалы</option>
                    <option>Фильмы</option>
                    <option>Аниме</option>
                    <option>ТВ передачи</option>
                  </select>
                  <input type="text" name="name" placeholder="имя" required>
                  <input type="email" name="mail" placeholder="эл. адрес" required>
                  <input type="text" name="content" placeholder="название" required><span>Сколько будет 24 + 5?</span>
                  <input type="number" name="antispam" placeholder="ответ" required>
                  <input type="submit" value="отправить">
                </form>
              </div>
            </div>
          </div>
          <div class="scrollView">
            <!-- VERTICAL ADVERTISEMENT WRAPPER-->
            <div class="rec">
              <!-- VERTICAL ADVERTISEMENT LINK--><a href="" target="_blank" class="recInner">
                <!-- VERTICAL ADVERTISEMENT CONTENT--><img src="images/rec/drweb.jpg" alt=""></a>
            </div>
          </div>
        </div>
{% endblock content %}
