{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="pageLeft bar">
        <div class="carouselWrapper">
            <div class="items oneItem">
                <div class="itemWrapper">
                    <div class="itemImage"><img src="{{ tv.movie_pic.url }}" alt="{{ tv.movie_name }}"></div>
                    <div class="itemName">{{ tv.movie_name }}</div>
                    <div class="itemName sub">{{ tv.movie_name }}</div><br>
                    <div data-rating="5" class="itemRating">
                      <div class="star"></div>
                    </div>
                    <div class="itemInfo country">Страна: <a href="#">{{ tv.country }}</a></div>
                    <div class="itemInfo year">Год выпуска: <a href="#">{{ tv.release_date.year }}</a></div>
                    <div class="itemInfo genre">Жанр: <a href="#">{{ tv.get_genre_display }}</a></div>
                    <div class="itemInfo actors">Актерский состав: <a href="#">{{ tv.actors }}</a></div>
                    <div class="itemAbout">Сюжет: {{ tv.description }}</div>
                    <div class="clear"></div>
                </div>
                <div class="itemPreview">
                    <div class="carouselHeader">
                        <div class="headerName"></div>
                                <select name="season" class="filters season">

                                    <option value="" selected disabled>Сезон:</option>
                                    {% for season in tv.seasons_set.all %}
                                        <option>{{ season.season_name }}</option>
                                    {% endfor %}
                                </select>

                        <select name="episode" class="filters episode">
                            <option value="" selected disabled>Серия:</option>
                            <option value="1">серия 1</option>
                            <option value="2">серия 1</option>
                            <option value="3">серия 1</option>
                            <option value="4">серия 1</option>
                            <option value="5">серия 1</option>
                        </select>



                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pageRight bar">
          <div class="notice">
            <div class="noticeHeader">Уведомления</div>
            <div class="noticeText">
              <div class="noticeName">Проекту требуются волонтеры.</div>
              <div class="noticeInfo">Заинтересованные могут отправить сообщение в<a href="{% url 'contact-us' %}">Форме Обратной связи</a></div>
            </div>
            <div class="noticeText">
              <div class="noticeName">Стол заказов</div>
              <div class="noticeInfo">Смотрите то, что интересно Вам:
                <form>
                  <select required>
                    <option>Выберите раздел</option>
                    <option>Сериалы</option>
                    <option>Фильмы</option>
                    <option>Аниме</option>
                    <option>ТВ передачи</option>
                  </select>
                  <input type="text" name="name" placeholder="имя" required>
                  <input type="email" name="mail" placeholder="эл. адрес" required>
                  <input type="text" name="content" placeholder="название" required><span>Сколько будет 24 + 5?</span>
                  <input type="number" name="antispam" placeholder="ответ" required>
                  <input type="submit" value="отправить">
                </form>
              </div>
            </div>
          </div>
          <div class="scrollView">
            <!-- VERTICAL ADVERTISEMENT WRAPPER-->
            <div class="rec">
              <!-- VERTICAL ADVERTISEMENT LINK--><a href="" target="_blank" class="recInner">
                <!-- VERTICAL ADVERTISEMENT CONTENT--><img src="images/rec/drweb.jpg" alt=""></a>
            </div>
          </div>
        </div>
{% endblock content %}